@{
    ViewData["Title"] = "About";
}

<div class="uk-container uk-margin-top uk-margin-bottom">
    <div class="uk-text-center">
        <img src={logo} alt="" style="height: 110px" />
        <h1>Laboratoire Microsoft</h1>
    </div>
    <h3>Qui sommes-nous?</h3>
    <p>
        <b>
            Le laboratoire des technologies Microsoft de SUPINFO International University est une communauté
            d’étudiants partageant la même passion pour les technologies et l’écosystème de la firme de Redmond.
        </b>
    </p>
    <p>
        Le laboratoire Microsoft de SUPINFO est composé de 2 pôles : un pôle développement et un pôle infrastructure.
    </p>
    <ul>
        <li>
            Le pôle développement focalise ses recherches, ses projets et ses conférences autour des technologies
            .Net, WinRT, Xamarin, Web et plus récemment sur Windows IoT (Internet of Things).
        </li>
        <li>
            Le pôle infrastructure quant à lui, axe ses projets sur les technologies dites « infrastructures » de
            Microsoft. Parmi ces technologies, on retrouve Windows Server, SQL Server, Exchange, SharePoint, Azure et
            Office 365.
        </li>
    </ul>
    <p>
        Le laboratoire Microsoft est représenté sur chaque campus par au moins un <b>
            Campus Laboratory
            Representative
        </b>. Ce dernier a pour rôle de proposer et encadrer des projets, organiser des conférences et
        animer la communauté Microsoft de son campus SUPINFO.
    </p>
    <p>
        Ces CLR sont épaulés par deux <b>Global Laboratory Manager</b>. Ces derniers ont pour missions de coordonner
        les laboratoires et aider au bon fonctionnement des différents laboratoires de SUPINFO.
    </p>
</div>