.uk-search-navbar > .uk-search-input {
    color: white;
}

.uk-logo > .logo-text {
    color: white;
    vertical-align: center;
    margin: 0px 10px 0px 10px;
    font-size: 100%;
    font-family: "Segoe UI Semilight";
}

    .uk-logo > .logo-text:hover, .logo-text:focus {
        color: lightblue;
    }

.uk-navbar-nav > li > a {
    color: white;
}

    .uk-navbar-nav > li > a:focus {
        color: lightblue;
    }

    .uk-navbar-nav > li > a:hover {
        color: lightblue;
    }

.uk-navbar-nav > li.uk-active > a {
    color: lightblue;
}

.uk-navbar-toggle {
    color: white;
}

.uk-navbar-toggle {
    color: white;
}

    .uk-navbar-toggle:focus {
        color: white;
    }

.uk-navbar-nav > li > a.active {
    color: lightblue;
}
